# Настройки бота
BOT_TOKEN="Ваш токен для бота, полученный от @BotFather"
BOT_PROXY="Прокси socks5h в формате username:password@IP:port"
BOT_BD_NAME="Название базы данных бота"
API_URL="Адрес API"

# Настройки API
ACCESS_SECRET_KEY="Секретный ключ, для подписания access токена jwt"
REFRESH_SECRET_KEY="Секретный ключ, для подписания refresh токена jwt"
ALGORITHM="Алгоритм используемый для подписи jwt"
ACCESS_TOKEN_EXPIRE_MINUTES="Время жизни токена в минутах"
REFRESH_TOKEN_EXPIRE_DAYS="Время жизни токена для обновления в днях"

# Настройки для основной базы данных
DB_USER="Имя пользователя от основной БД"
DB_PASSWORD="Пароль от основной БД"
DB_HOST="Имя хоста основной БД"
DB_PORT="Порт основной БД"
DB_NAME="Название основной БД"

# Настройки для тестовой базы дынных
TEST_DB_USER="Имя пользователя от тестовой БД"
TEST_DB_PASSWORD="Пароль от тестовой БД"
TEST_DB_HOST="Хост тестовой БД"
TEST_DB_PORT="Порт тестовой БД"
TEST_DB_NAME="Название тестовой БД"